@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg: 248 250 252;   
  --fg: 15 23 42;  
}

.dark {
  --bg: 2 6 23;       
  --fg: 248 250 252;
}

body {
  background-color: rgb(var(--bg));
  color: rgb(var(--fg));
  font-family: var(--font-manrope);
}

@theme {
  --animate-checkbox: fade 0.5s ease-in-out;
  --animate-fadeIn: fadeIn 300ms ease-out;
  --animate-fadeOut: fadeOut 300ms ease-in;
  --animate-zoomIn: zoomIn 300ms ease-out;

  @keyframes fade {

    0%,
    50% {
      opacity: 0;

    }

    100% {
      opacity: 1;

    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  @keyframes zoomIn {
    from {
      transform: scale(0);
    }

    to{
      transform: scale(1);
    }
  }
}

.codex-editor__redactor {
  padding-bottom: 100px !important;
}

.react-calendar {
  background-color: transparent !important;
}

