@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --card: oklch(26.862% 0.00003 271.152);
    --background: oklch(20.019% 0.00002 271.152);
    --foreground: oklch(0.985 0 0);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --animate-checkbox: fade 0.5s ease-in-out;
  --animate-fadeIn: fadeIn 300ms ease-out;
  --animate-fadeOut: fadeOut 300ms ease-in;
  --animate-zoomIn: zoomIn 300ms ease-out;

  @keyframes fade {

    0%,
    50% {
      opacity: 0;

    }

    100% {
      opacity: 1;

    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  @keyframes zoomIn {
    from {
      transform: scale(0);
    }

    to{
      transform: scale(1);
    }
  }
}
